a {
  text-decoration: none;
}

.wrapper{
  display: flex;
  height: 100vh;
}

/*-------- サイドバー -----------*/

.side-bar{
  background-color: #253141;
  width: 300px;
}

.side-header{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name{
  font-size: 16px;
}

.user-name a{
  color: #FAFAFA;
}

.create-chat{
  font-size: 10px;
}

.create-chat a{
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
}

.side-main{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
}


/*-------- チャット -----------*/

.chat{
  background-color: #fff;
  width: calc(100vw  - 300px);
}

.main-header{
  background-color: #fff;
  height: 100px;
  padding: 0 40px;
}

.message{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.footer{
  background-color: #DDD;
  height: 90px;
  padding: 20px 40px;
}